<!DOCTYPE html>
<html>

<head>
    <title>Gerencie a sua tarefa!</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="centralizar">
        <h1>Escolha o que deseja fazer com a sua tarefa!</h1>
        <h2>
            <%= task.title %>
        </h2>
        <p><strong>Descrição:</strong>
            <%= task.description %>
        </p>
        <p><strong>Prazo:</strong>
            <%= task.deadline %>
        </p>
        <p><strong>Urgência:</strong>
            <%= task.urgency %>
        </p>
        <form action="/api/tasks/complete/<%= id %>" method="post" style="display:inline;">
            <button type="submit">Marcar como concluída</button>
        </form>
        <form action="/api/tasks/delete/<%= id %>" method="post" style="display:inline;">
            <button type="submit">Deletar</button>
        </form>
        <a href="/edit-task/<%= id %>"><button>Editar</button></a>
        <div class="voltar-btn">
            <button>
                <a href="/api/tasks">Voltar para as Tarefas.</a>
            </button>
        </div>
    </div>
</body>

</html>