<!DOCTYPE html>
<html>
<head>
    <title>View Task</title>
</head>
<body>
    <h1>View Task</h1>
    <h2><%= task.title %></h2>
    <p><strong>Description:</strong> <%= task.description %></p>
    <p><strong>Deadline:</strong> <%= task.deadline %></p>
    <p><strong>Urgency:</strong> <%= task.urgency %></p>
    <form action="/api/tasks/complete/<%= id %>" method="post" style="display:inline;">
        <button type="submit">Complete</button>
    </form>
    <form action="/api/tasks/delete/<%= id %>" method="post" style="display:inline;">
        <button type="submit">Delete</button>
    </form>
    <a href="/edit-task/<%= id %>"><button>Edit</button></a> <!-- Ajuste aqui para redirecionar corretamente -->
</body>
</html>
